table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid blue;
  padding: 5px;
}

table th {
  background-color: aquamarine;
  color: black;
}

table tr {
  background-color: aliceblue;
}

table tr:nth-child(even) {
  background-color: aqua;
}

.link-btn {
  cursor: pointer;
  color: #0099d6;
}

.remove-btn:hover {
  color: #b90303;
}

.edit-btn:hover {
  color: #f39903;
}
